:root {
    color-scheme: light dark;
    --light: #fff;
    --lesslight: #efefef;
    --dark:  	#A7E99C;
    --moredark:  	#A7E99C;
    border-top: 5px solid var(--dark);
    line-height: 1.5em; /* This causes wrapping h1's to collapse too small */
    font-family: trebuchet ms,Verdana,verdana ref,segoe ui,Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma, sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    color: var(--dark);
}

button, input {
    font-size: 1em; /* Override browser default font shrinking*/
}

input {
    border: 1px solid var(--dark);
    background-color: var(--lesslight);
    border-radius: .25em;
    padding: .5em;
}

pre {
    background-color: var(--lesslight);
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em;
    overflow: auto;
}

code {
    background-color: var(--lesslight);
}

body {
    background-color: var(--light);
    margin: 0;
    max-width: 800px;
    padding: 0 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

/* changes by pascal */
img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/* changes by pascal */
p.discreet {
    font-size: 0.8em;
    margin-top: 30px;
}

button, .button, input[type=submit] {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: .5em;
    border-radius: .25em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

button:hover, .button:hover, input[type=submit]:hover {
    color: var(--lesslight);
    background-color: var(--moredark);
}

/* Add a margin between side-by-side buttons */
button + button, .button + .button, input[type=submit] + input[type=submit] {
    margin-left: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bordered {
    border: 3px solid;
}

.home {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
}


/* Desktop sizes */
@media only screen and (min-width: 600px) {
    ol.twocol {
        column-count: 2;
    }

    ul.twocol {
        column-count: 2;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;
    }

    /* Make everything in a row a column */
    .row > * {
        display: block;
        flex: 1 1 auto;
        max-width: 100%;
        width: 100%;
    }

    .row > *:not(:last-child) {
        margin-right: 10px;
    }
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Fira Code', monospace;
}

h2 {
 margin-top: 40px;
}

ol.twocol {
  font-family: 'Fira Code', monospace;
}

.make-round {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.rounded {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

a {
    color: #000;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    text-decoration-thickness: 2.5px;
    text-decoration-skip: ink;
    text-decoration-skip-ink: none;
    text-decoration-color: #fa8072;/*#d7a;*/
    background-image: linear-gradient(to bottom, transparent 50%, #fa8072 50%);
    background-size: 100% 200%;
    background-repeat: no-repeat;
    transition: .3s;
}
a:hover {
    color: #fff;
    background-position: 0% 100%;
}

.news {
  list-style: none;
  font-size: 14px;
}

.news li {
    line-height: 1.5;
    margin: 12px 0;
}

/* Dark mode overrides (confusingly inverse) */
@media (prefers-color-scheme: dark) {
    :root {
        --light:  	#A7E99C;
        --lesslight:  	#A7E99C;
        --dark: #333;
        --moredark: #333;
    }
    /* This fixes an odd blue then white shadow on FF in dark mode */
    *:focus {
        outline: var(--light);
        box-shadow: 0 0 0 .25em royalblue;
    }
}



/* Printing */
@media print {
    .home {
        display: none;
    }
}
